alias mk='minikube'
alias dc='docker-compose'
alias d='docker'
alias k='kubectl'
alias s='skaffold'
alias gs='git status'
alias gf='git fetch'
alias gc='git checkout'
alias gcm='git commit -m'
alias ga='git add .'
ll='ls -lh'
lla='ls -al'